@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,700,900&display=swap');
:root{
    --main-nav: #3D464F;
    --main-color: rgb(147, 93, 207);
}


*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(220, 224, 226);
    position: relative;
    height:150vh;
    font-family: "Montserrat"
}

.nav{
    height: 70px;
    background-color: rgb(61, 70, 79);
    position: fixed;
    top: 0;
    left:0;
    right: 0;
}

.icon{
    position: absolute;
    top:10px;
    left: 10px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: var(--main-color);
    border-radius: 2px;
    z-index: 100000;
}

.hamburger{
    width: 40px;
    height: 4px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: .5s;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    border-radius: 2px;

}
.hamburger:before,
.hamburger:after{
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    transition: .5s;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    border-radius: 2px;
}

.hamburger:before{
    top: -12px;
}
.hamburger:after{
    top: 12px;
}

body.active .hamburger{ 
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 3px rgba(0,0,0,0)
}

body.active .hamburger:after{
    top:0;
    transform: rotate(-45deg);
} 
body.active .hamburger:before{
    transform: rotate(45deg);
    top: 0;
} 



/*  -------------- Slide Down  */





.slide-down{
    height: 100vh;
    background-color: var(--main-color);
    z-index: 500;
    position: relative;
    transform: translateY(-100%);
    transition: 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.active .slide-down{
    transform: translateY(0);
}

.slide-down ul{
    list-style-type: none;
    color:white;
    text-align: center;
    opacity: 0;
    transform: translateX(100%);
    transition: 1s ease-in .4s;
}

.slide-down li{
    padding: 1em;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: .15em;
    
}
.slide-down li:not(:last-child){
    border-bottom: 1px solid rgba(255,255,255,.15);
}

body.active .slide-down ul{
    opacity: 1;
    transform: translateX(0);
}

@media(min-width: 900px){
    .slide-down li{
        padding: 2em;
        font-size: 400;
    }
}